{% load i18n_address_tags %}
{% load static %}

<div class="address">
  <div>
    <svg data-src="{% static "dashboard/images/account-circle.svg" %}" width="16" height="16" class="left"/>
    <a href="{% url "dashboard:customer-update" pk=address.customer.id %}#address_{{ address.id }}"
       class="phone-number">
      {{ address.first_name }}
    </a>
  </div>

  <div>
    <svg data-src="{% static "dashboard/images/phone.svg" %}" width="16" height="16" class="left"/>
    <a href="{% url "dashboard:customer-update" pk=address.customer.id %}#address_{{ address.id }}"
       class="phone-number">
      {{ address.phone }}
    </a>
  </div>

  <div>
    <svg data-src="{% static "dashboard/images/store.svg" %}" width="16" height="16" class="left"/>
    <a href="{% url "dashboard:customer-update" pk=address.customer.id %}#address_{{ address.id }}"
       class="phone-number">
      {{ address.street_address_1 }}
    </a>
  </div>

</div>
