{% extends "dashboard/base.html" %}
{% load materializecss %}
{% load i18n %}
{% load static %}

{% block title %}
  {% if customer.pk %}
    {{ customer.full_name }}
  {% else %}
    {% trans "Add new customer" context "Dashboard add customer" %}
  {% endif %}
  - {% trans "Customer" context "Dashboard customer" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-customers{% endblock %}

{% block menu_customers_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:customers" as url %}
  {% include "dashboard/includes/_back-link.html" with url=url %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:customers" %}">
        {% trans "Customers" context "Dashboard customers list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:customers" %}">
        <svg data-src="{% static "dashboard/images/arrow_left.svg" %}" fill="#fff" width="20px" height="20px"/>
      </a>
    </li>
    <li><span class="breadcrumbs--elipsed-item">{% if customer.pk %}{{ customer.full_name }}{% else %}
      {% trans 'Add customer' context 'Dashboard add customer action' %}{% endif %}</span></li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l8">
      {% if form %}
        <form method="post" enctype="multipart/form-data">

          <div class="card customer-basic">
            <div class="card-content">
            <span class="card-title">
              {% trans 'Customer details' context 'Customer details header' %}
            </span>
              <div class="data">
                {% csrf_token %}
                <div class="row">
                  {{ form|materializecss }}
                </div>
              </div>
            </div>
            <div class="card-action right-align">
              {% if customer.pk %}
                <a href="{% url 'dashboard:customer-details' pk=customer.pk %}" class="btn-flat waves-effect">
                  {% trans "Cancel" context "Dashboard cancel action" %}
                </a>
                <button type="submit" class="btn waves-effect">
                  {% trans 'Update' context 'Dashboard update action' %}
                </button>
              {% else %}
                <a href="{% url 'dashboard:customers' %}" class="btn-flat waves-effect">
                  {% trans "Cancel" context "Dashboard cancel action" %}
                </a>
                <button type="submit" class="btn waves-effect">
                  {% trans 'Add' context 'Dashboard add action' %}
                </button>
              {% endif %}
            </div>
          </div>

          <div class="card customer-addresses">
            <div class="card-content">
              <span class="card-title">
                {% trans 'Addresses' context 'Customer details header' %}
              </span>
              {{ address_forms.management_form }}
              <input id="address_forms_length" name="address_forms_length" type="hidden"
                     value="{{ address_forms|length }}">

              <div class="address-form form-group">
                {% for address in address_forms %}

                  <div class="row {% if forloop.counter0|divisibleby:2 %}even{% else %}odd{% endif %}"
                       id="{{ address_forms.prefix }}-{{ forloop.counter0 }}"
                    {% if address.instance.pk %} data-pk="{{ address.instance.pk }}"{% endif %}>
                    <div id="address_{{ address.id.value }}">
                      {{ address.id }}
                      {{ address.first_name|materializecss:"input-field s6" }}
                      {{ address.phone|materializecss:"input-field s6" }}
                      {{ address.street_address_1|materializecss:"input-field s6" }}
                      {{ address.id_number|materializecss:"input-field s6" }}
                      <div class="input input-field col s6">
                        {{ address.id_photo_front.label_tag }}
                        {{ address.id_photo_front }}
                      </div>
                      <div class="input input-field col s6">
                        {{ address.id_photo_back.label_tag }}
                        {{ address.id_photo_back }}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>

              <div class="box-footer">
                <button type="submit"class="btn btn-primary" v-on:click="submit">保存更改</button>
{#                <button type="submit" class="btn btn-primary" v-on:click="submit" name="_continue">#}
{#                  Save & Edit#}
{#                </button>#}
              </div>

            </div>
          </div>
        </form>
      {% endif %}
    </div>
  </div>

{% endblock %}

{% block custom_css %}
  {{ block.super }}
  <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="http://s.luotao.net/static/js/jquery.formset.min.js"></script>
{% endblock %}

{% block custom_js %}
  <script type="text/javascript">
    $(document).ready(function () {
      $('.address-form .row').formset({
        {#formTemplate: '#{{ address_forms.prefix }}_template .form-group',#}
        prefix: '{{ address_forms.prefix }}',
        {#deleteText: '<i class="fas fa-window-close fa-2x"></i>',#}
        deleteText: '<button type="button" class="btn btn-default address-delete-btn">删除此项</button>',
        deleteCssClass: 'delete-row',
        formCssClass: 'dynamic-form',
        addText: '<button type="button" class="btn btn-default address-add-btn">增加一项</button>',
      });
    });
  </script>
{% endblock %}
